
.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdfaf6; 
  min-height: 100vh;
  padding: 40px;
  color: #4a4a4a;
}

h1 {
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2.5rem;
}

.offers-list {
  display:grid;  
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;

}


.offer-card {
  position: relative;
  border: none; 
  box-shadow: 0 10px 20px rgba(216, 196, 182, 0.2); 
  background: #ffffff;
  padding: 25px;
  border-radius: 20px;
  transition: all 0.3s ease;
  min-width: 250px;
}


.offer-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.main-content { 
  display: flex; 
  align-items: flex-start; 
  justify-content: center;
  gap: 50px; 
  max-width: 1300px;
  margin: 0 auto;
}

.right-side { 
  width: 30%;
  position: sticky; /*bach ib9a bayn f scrol*/
  top: 10px;
}

.badge {
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: #c9ada7; 
  color: white;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
}

button {
  background-color: #fdfaf6;
  border: 1px solid #c9ada7;
  color: #4a4a4a;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #c9ada7;
  color: white;
}

.details-section {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  border-left: 5px solid #9a8c98;
  animation: fadeIn 0.5s ease;
}

.details-section h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9a8c98;
}

.calculator-section {
  max-width: 500px;
  margin: 40px auto;
  background: #f4ece8;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}

input[type="range"] {
  width: 100%;
  margin: 15px 0;
  accent-color: #9a8c98;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}